
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">*@
    <link href="~/layuimini/lib/layui-v2.6.3/css/layui.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../../css/public.css" media="all">*@
    <link href="~/layuimini/css/public.css" rel="stylesheet" />

    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form" lay-filter="formTest">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label required">ID</label>
            <div class="layui-input-block">
                <input type="text" name="ID" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">金额</label>
            <div class="layui-input-block">
                <input type="text" name="ApplyMoney" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请理由</label>
            <div class="layui-input-block">
                <input type="text" name="Reason" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    @*<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>*@
    <script src="~/layuimini/lib/layui-v2.6.3/layui.js"></script>

    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            //console.log(window);
            /*  console.log(parent.applyId);*/

            if (parent.applyId) {
                //使用异步请求获取需要修改的用户信息
                $.ajax({
                    url: '/applyInfo/GetUpdateapplyInfo',
                    type: 'get',
                    data: {
                        applyId: parent.applyId
                    },
                    success: function (res) {

                        //表单赋值
                        form.val("formTest", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "ID": res.datas.id
                            , "ApplyMoney": res.datas.applyMoney
                            , "Reason": res.datas.reason
                        });
                    }
                });
            }

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                var index = layer.alert('确定提交', {
                    title: '提示'
                }, function () {

                    console.log(parent);

                    //请求服务器更新用户
                    $.ajax({
                        url: '/applyInfo/UpdateapplyInfo',
                        data: data.field,
                        type: 'post',
                        success: function (res) {
                            if (res.isSuccess) {
                                // 关闭弹出层
                                layer.close(index);

                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                //调用父级页面的刷新方法
                                parent.reLoadTable();
                            } else {
                                layer.msg('修改失败');
                            }
                        }
                    });

                });

                return false;
            });

        });</script>
</body>
</html>