
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layuimini/lib/layui-v2.6.3/css/layui.css" rel="stylesheet" />
    <link href="~/layuimini/css/public.css" rel="stylesheet" />
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">标题</label>
            <div class="layui-input-block">
                <input type="text" name="Title" lay-verify="required" lay-reqtext="菜单名不能为空" placeholder="请输入菜单名" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="Description" placeholder="请输入描述" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-block">
                <input type="text" name="Level" placeholder="请输入等级" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="Sort" placeholder="请输入排序" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="Href" placeholder="请输入地址" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <input type="text" name="Icon" placeholder="请输入图标" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标</label>
            <div class="layui-input-block">
                <input type="text" name="Target" placeholder="请输入目标" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级</label>
            <div class="layui-input-block">
                @*<input type="text" name="ParentId" placeholder="请输入父级id" value="" class="layui-input">*@
                <select name="ParentId" id="parentSelect">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    @*<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>*@
    <script src="~/layuimini/lib/layui-v2.6.3/layui.js"></script>

    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;


            //异步获取父级菜单下拉选数据集合
            $.ajax({
                url: '/MenuInfo/GetSelectOption',
                type: 'get',
                success: function (res) {
                    console.log(res);
                    if (res.isSuccess) {
                        if (res.datas) {
                            //赋值父级菜单下拉选
                            var menuInfoOptions = res.datas;
                            for (var i = 0; i < menuInfoOptions.length; i++) {
                                $('#parentSelect').append('<option value="' + menuInfoOptions[i].id + '">' + menuInfoOptions[i].title + '</option>');
                            }
                            form.render('select'); //刷新select选择框渲染
                        }
                    }
                }
            });


            //监听提交
            form.on('submit(saveBtn)', function (data) {
                console.log(data);

                //异步请求添加菜单
                $.ajax({
                    url: '/MenuInfo/AddMenuInfo',
                    data: data.field,
                    type: 'post',
                    success: function (res) {
                        console.log(res);
                        if (res.isSuccess) {
                            var index = layer.alert("添加成功", {
                                title: '提示'
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);

                                //刷新表格数据
                                parent.reLoadTable();
                            });
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });

                return false;
            });

        });
    </script>
</body>
</html>
